<p id="notice"><%= notice %></p>

<p>
  <strong>File1:</strong>
  <%= link_to "Download", @treatment.file1.url(:original, false) %>
</p>

<p>
  <strong>File2:</strong>
  <%= link_to "Download", @treatment.file2.url(:original, false) %>
</p>

<p>
  <strong>Result:</strong>
  <%= link_to "Download", '/' + @treatment.id.to_s, { target: '_blank' } %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @treatment.user_id %>
</p>

<%= link_to 'Edit', edit_treatment_path(@treatment) %> |
<%= link_to 'Back', treatments_path %>
